#import-product{
	.import-product{
		position: absolute;
		min-height:37px;
		width:100%;
		bottom: 0;
		left: 0;
		@include opacity(0);
	}
}
#image-manager{
	.image-uploaded{
		position: relative;
		display: inline-block;
		width: 120px;
		height: 120px;
		margin: 16px;
		.image-item{
			position: absolute;
			left:0;
			top:0;
			width: 100%;
			height: 100%;
			background-position: center center!important;
			background-repeat: no-repeat!important;
			border-radius: 20px;
			overflow: hidden;
			&:hover{
				cursor: pointer;
				-webkit-filter: blur(2px);
	      		filter: blur(2px);      		
			}
		}
		.btn.btn-icon-toggle.ink-reaction{
			position: absolute;
			color: red;
			right: -5px;
			top: -5px;
			font-size: 1.8rem;
			z-index: 1100;
			&:hover{
				cursor: pointer!important;
			}
		}
	}
}