.avatar-file{
	min-height: 120px;
	padding-top: 0!important;
	.current-image{
		position: relative!important;
		top:0!important;
		right: auto!important;
		left:0;
		z-index: 1!important;
		height: 120px;
		width: 120px;
		background-size:cover!important;
		background-position:center center!important;
		background-repeat:no-repeat!important;
	}
	.update-img{
		position: absolute;
		top:0;
		left:0;
		@include opacity(0);
		height: 120px;
		width: 120px;
		z-index: 500!important;
	}
}